.form-singlesearchbar {
  .singlesearchbar {
    @include alignChildren(center);
    padding: 1.5rem 1rem 0 1rem;
    .container {
      width: 100%;
      max-width: 59rem;
      margin: 0 auto;
      position: relative;
      @media (max-width: 60em) {
        max-width: calc(100vw - 64px);
      }
      input[type="search"] {
        width: 100%;
        padding: 0 1.5rem;
        border: 0 none;
        border-radius: 2rem;
        font-size: 1rem;
        color: #0c131f;
        min-height: 3.5rem;
      }
    }
  }
  .departure {
    padding: 1rem;
  }
  .result {
    max-width: 59rem;
    margin: 0 auto;
    ul{
      max-height: 70vh;
    }
  }
}
